.description {
      margin-left: 4.8vw;
      margin-top: 46px;
}
.description label {
      font-weight: 700;
      font-size: 18px;
}
.description p {
      font-weight: 300;
      font-size: 16px;
}
